# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/13. react_memo
/14. useReducer
/15. useReducer_Exam
/16. customHook
/17. Context API
/18. styled-components
/todolist
/test-todo-list
/19. api-integrate
/20. useAsync
/21. context API with api
/22. learn-redux
/23. learn-redux-second
/24. react-redux
/25. react-redux-middleware
/26. router-tutorial/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
